/* variables */
$brandColor: #575556;
$successColor : #0079b8;
$infoColor : #637042;
$warningColor : #f0ad4e;
$dangergColor : #d9534f;


/* Uitl Common styles */

.clear-horizontal-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.clear-horizontal-margin{
    margin-left: 0px;
    margin-right: 0px;
}

 a.learnMore{
    color: $infoColor;
    font-size: 11px;
}

@media screen and (min-width:991px){
    .clear-right-padding{
        padding-right: 0px;
    }
    .clear-left-padding{
        padding-left: 0px;
    }
}

